.navbar {
    display:flex;
    justify-content: space-between;
}
.navbar-links {
    text-decoration: none;
    margin-left: 29px;

    &:hover {
       color:#4A4FF2;
    }
    &:visited {
        color:#111111;
        opacity: 0.6;
    }
}